<!-- <p>home-page works!</p>
<button (click)="addFun()">Clicked {{count}} times </button> <br>
<button (click)="sayHello()">Say hello</button> <br> <br>

<button (click)="addMark()">Add mark</button>
<button (click)="minusMark()">Minux mark</button>
<button (click)="addByNumber(5)">Add Mark by 5</button>
<button (click)="minusByNumber(5)">Minus by 5</button>
<p>{{mark}}</p> -->

<div class="d-flex">
  <img src="../../../assets/bird-thumbnail.jpg" alt="image" class="image">
  <p>Hello World</p>
</div>
