<!-- <p>home-page works!</p>
<button (click)="addFun()">Clicked {{count}} times </button> <br>
<button (click)="sayHello()">Say hello</button> <br> <br>

<button (click)="addMark()">Add mark</button>
<button (click)="minusMark()">Minux mark</button>
<button (click)="addByNumber(5)">Add Mark by 5</button>
<button (click)="minusByNumber(5)">Minus by 5</button>
<p>{{mark}}</p> -->

<!-- <form (submit)="actionTake()">
  <input type="text" name="" id="" [(ngModel)]="playerName">
</form> -->

<form (submit)="actionTake()">
  <input type="text" [(ngModel)]="playerName" [ngModelOptions]="{standalone:true}">
  <input type="text" [(ngModel)]="age" [ngModelOptions]="{standalone:true}">
  <button >ok</button>
</form>

<!-- <div id="carouselExampleDark" class="carousel carousel-dark slide">
  <div class="carousel-inner">
    <div class="carousel-item active ">
      <div class="d-flex">
        <img src="../../../assets/bird-thumbnail.jpg" class="d-block image " alt="...">
        <p>Hello1</p>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="d-flex">
        <img src="../../../assets/bird-thumbnail.jpg" class="d-block image " alt="...">
        <p>Hello2</p>
      </div>
    </div>
    <div class="carousel-item active">
      <div class="d-flex">
        <img src="../../../assets/bird-thumbnail.jpg" class="d-block image " alt="...">
        <p>Hello3</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

