<!-- <a class="button" routerLink="" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Go to main</a>
<a class="button" routerLink="/st-one" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Go to next</a> -->
<ul class="navBar">
  <li>
    <a class="button" routerLink="/pages/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
  </li>
  <li>
    <a class="button" routerLink="/pages/second" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Second</a>
  </li>
  <li>
    <a class="button" routerLink="/pages/third" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Third</a>
  </li>
  <li>
    <a class="button" routerLink="/pages/forth" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Fourth</a>
  </li>
</ul>
<router-outlet></router-outlet>
