.button{
  text-decoration: none;
  margin-left: 10px;
  color: #007bff;
}
.activebutton{
  color: black;
  text-decoration: none;
}
.navBar{
  list-style-type: none;
  display: flex;
  background-color: #007bff;
  padding: 10px;
}
.navBar .button{
  color: #fff;
  padding:10px;
  transition: all 0.3s ease-in-out;
}
.navBar .button:hover{
  opacity: 0.8;
  color: #4c4c4c;
}
.navBar .activebutton{
  color: black;
}
