<a class="button" routerLink="" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Go to main</a>
<a class="button" routerLink="/st-one" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Go to next</a>
<a class="button" routerLink="/pages/home" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Home</a>
<a class="button" routerLink="/pages/second" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Second</a>
<a class="button" routerLink="/pages/third" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Third</a>
<a class="button" routerLink="/pages/forth" routerLinkActive="activebutton" ariaCurrentWhenActive="page">Fourth</a>
<router-outlet></router-outlet>
