
.button{
  text-decoration: none;
  margin-left: 10px;
  color: #007bff;
}
.activebutton{
  color: black;
  text-decoration: none;
}
.navBar{
  list-style-type: none;
  display: flex;
  background-color: #007bff;
  padding: 20px;
}
.navBar .button{
  color: #fff;
  padding:20px;
  transition: all 0.3s ease-in-out;
  font-size: 1.3rem;
  font-family: roboto, sans-serif;
}
.navBar .button:hover{
  opacity: 0.8;
  color: #4c4c4c;
}
.navBar .activebutton{
  color: rgba(0, 0, 0, 0.767);
}
